<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="cordova-plugin-simplezbar" version="0.0.1">
    <name>SimpleZBar</name>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <asset src="www/SimpleZBar.js" target="js/SimpleZBar.js"/>

    <js-module src="www/SimpleZBar.js" name="SimpleZBar">
        <clobbers target="cordova.plugins.SimpleZBar" />
    </js-module>

    <platform name="android">
	<framework src="me.dm7.barcodescanner:zbar:1.9" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SimpleZBar">
                <param name="android-package" value="com.github.simplezbar.SimpleZBar"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>
        <source-file src="src/android/SimpleZBar.java" target-dir="src/com/github/simplezbar/"/>
    </platform>
</plugin>
